@media (max-widht: 768px) {
    .container {
        flex-direction: column;
    }
}
@media (max-widht: 1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-widht: 768px) and (max-widht: 1023px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.container {
    padding: 10px;
}
@media (max-widht: 576px) {
    .container {
        padding: 15px;
    }
}
@media (max-widht: 768px) {
    .container {
        padding: 20px;
    }
}
@media (max-widht: 992px) {
    .container {
        padding: 25px;
    }
}
@media (max-widht: 1200px) {
    .container {
        padding: 30px;
    }
}